.container {
  position: relative;
  width: fit-content;
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 2.5rem;
}

.left {
  width: 100%;
  max-width: 22rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.9rem;
}

.header {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.85rem;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.cover {
  max-width: 23.1875rem;
  max-height: 17.125rem;
}

@media only screen and (max-width: 1024px) {
  .container {
    flex-direction: column-reverse;
  }

  .right {
    width: 100%;
  }

  .cover {
    width: 100%;
  }
}
