.container {
  display: flex;
  gap: 2.8rem;
  width: 100%;
  padding: 0 2rem;
  align-items: center;
  flex-wrap: wrap;
}

.image {
  width: 100%;
  max-width: 12.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  max-width: 30rem;
}

.titles {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.875rem;
}

.text {
  letter-spacing: -0.025em;
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0;
  }
}
