.animatedIntro {
  --animation-duration: 0.15s;
  animation: pop-in var(--animation-duration) ease-out;
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(0.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
